<div class="content">
  <div class="logo-wrapper">
    <img class="logo" src="assets/img/arbitrum-logo.svg">
    <span class="">{{ title }}</span>
  </div>

  <div class="wei-wrapper">

    <h3>Amount to convert:</h3>
    <div class="wei-input">
      <input (keyup)="updateValues()" [(ngModel)]="amountToConvert" type="number">
      <select [(ngModel)]="selectedDenomination" (change)="updateValues()">
        <option *ngFor="let option of denominationsInWei"
                [selected]="selectedDenomination === option.denomination"
                [value]="option.denomination"
        >{{ option.denomination }}</option>
      </select>
    </div>

    <div class="wei-buttons">
      <button (click)="showDenominations = true">Show</button>
      <button (click)="showDenominations = false">Hide</button>
    </div>

    <div class="wei-inputs-wrapper" *ngIf="showDenominations">
      <div class="wei-input" *ngFor="let item of displayUnits; let i = index">
        <label>{{ item.denomination }}</label>
        <input (keyup)="updateAmountAndDenomination(item.denomination, item.value)" [(ngModel)]="item.value" type="number">
      </div>
    </div>
  </div>
</div>
